Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity
HeaderFilterRegex: 'npc_agent/.*'
